body {
  background-color: #F0D9E7;
  color: var(--tint-text-color);
  font-size: 16px;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  font-style: normal;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #D5D5D5;
}

.btn {
  margin: 6px 6px 0px 6px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.bar a.link {
  weight: 800;
  color: #9A9483;
  margin-top: 0px;
  font-size: 20px;
  background-color: transparent;
  text-decoration: none;
}

.bar a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.click-here {
  margin-right: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.click-here.rotate {
  transform: rotate(45deg);
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
}

.hrw {
  background: inherit;
  padding: 18px 12px;
  max-width: 850px;
  margin: 0px auto;
}

p.visited {
  text-decoration: none;
}

.xyz {
  background-color: var(--tint-background-color);
  padding: 12px;
  border-radius: 12px 12px 0px 0px;
  text-align: center;
  position: relative;
}
}

.abc {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
}

.def {
  display: block;
  height: 0px;
  width: 0px;
  margin-left: 2px;
  margin-top: 16px;
}

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.ghi {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow-x: auto;
}

.ebL {
  margin-left: 0px;
}

.gpg {
  text-decoration: none;
  text-align: center;
  display: block;
  white-space: nowrap;
}

.fly {
  background: rgb(242, 241, 255);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.jid {
  display: block;
  height: 0px;
  width: 0px;
  margin-left: 2px;
  margin-top: 8px;
}

.mno {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  color: black;
}

.bbu {
  display: none;
  position: absolute;
  width: 228px;
  padding: 12px;
  background: rgb(34, 34, 34);
  box-shadow: rgb(0 0 0 / 16%) 10px 24px 66px;
  color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 12px;
  z-index: 90;
  left: 0%;
}

.mga {
  height: 127px;
  background-color: rgb(255, 220, 214);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
}

.vip {
  display: block;
  height: 0px;
  width: 0px;
  margin-left: 2px;
  margin-top: 12px;
}

.fhg {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.iht {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  line-height: 150%;
}

.clz {
  background: rgb(231, 253, 245);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.fra {
  background: rgb(237, 251, 255);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.hfd {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.gzx {
  display: none;
  position: absolute;
  width: 228px;
  padding: 12px;
  background: rgb(34, 34, 34);
  box-shadow: rgb(0 0 0 / 16%) 10px 24px 66px;
  color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 12px;
  z-index: 90;
  right: 0%;
}

.gji {
  background: rgb(237, 251, 255);
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
  width: 48px;
}

.dou {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.fzn {
  background: rgb(242, 245, 255);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.iuh {
  background: rgb(255, 243, 240);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.dmo {
  background: rgb(232, 252, 246);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.kjt {
  background-color: var(--tint-background-color);
  padding: 12px;
  border-radius: 0px 0px 12px 12px;
}

.bro {
  font-style: normal;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
}

.ivm {
  display: block;
  height: 0px;
  width: 0px;
  margin-left: 2px;
  margin-top: 16px;
}

.cmu {
  background: rgb(237, 251, 255);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.kjm {
  background: rgb(254, 248, 212);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.fry {
  background: rgb(243, 238, 255);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.gya {
  background: rgb(255, 245, 247);
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 16px;
  margin: 0px auto;
}

.idt {
  background: var(--tint-background-color);
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
  box-shadow: rgb(187 137 136 / 4%) 0px 8px 16px;
  display: block;
  cursor: pointer;
}

.cgt {
  text-decoration: none;
}

.guq {
  padding-bottom: 12px;
  border-bottom: solid 1px var(--tint-divider-color);
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

a {
  text-decoration-skip-ink: auto;
}

.bux {
  opacity: 1;
  display: flex;
}

.eqe {
  display: flex;
}

.gqt {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 12px;
}

.iib {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  opacity: 1;
}

.enn {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  overflow: hidden;
  background: var(--tint-divider-color);
  padding: 12px;
  flex-shrink: 0;
}

.bgg {
  margin-left: 12px;
  margin-right: 5px;
}

.hkb {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
}

.hlx {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--tint-light-text-color);
  color: black;
}

.td67eb536-a316-4327-aa42-103df6bc96db {
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-top {
  margin-top: -10px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-top::before {
  border-top: 8px solid transparent;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-top::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-top-color: #222;
  border-top-style: solid;
  border-top-width: 6px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-bottom {
  margin-top: 10px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-bottom::before {
  border-bottom: 8px solid transparent;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-bottom::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #222;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-left {
  margin-left: -10px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-left::before {
  border-left: 8px solid transparent;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-left::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 50%;
  margin-top: -4px;
  border-left-color: #222;
  border-left-style: solid;
  border-left-width: 6px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-right {
  margin-left: 10px;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-right::before {
  border-right: 8px solid transparent;
}

.td67eb536-a316-4327-aa42-103df6bc96db.place-right::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 50%;
  margin-top: -4px;
  border-right-color: #222;
  border-right-style: solid;
  border-right-width: 6px;
}

:root {
  --tint-text-color: #222222;
  --tint-light-text-color: #666666;
  --tint-input-placeholder: #A8A8A8;
  --tint-button-border-color: #E7E6E8;
  --tint-background-color: #FFFFFF;
  --tint-main-background-color: #FAF6F3;
  --tint-grey-background-color: #F5F5F5;
  --tint-secondary-actions-color: #F5F5F5;
  --tint-hover-secodnary-color: #F0F0F0;
  --tint-input-border-color: #DBDBDB;
  --tint-divider-color: #F7F5F4;
  --tint-upload-background-color: #FAFAFA;
  --tint-hightlight-color: #feeef2;
  --tint-border-radio-hightlight: #feeef2;
  --tint-active-menu-color: #FFF9FA;
  --tint-popover-shadow: rgb(0 0 0 / 30%);
}

.ccm {
  background: var(--tint-background-color);
  padding: 16px 20px;
  border: 1px solid rgba(235, 87, 87, 0.5);
  border-radius: 12px;
  box-shadow: rgb(187 137 136 / 4%) 0px 8px 16px;
  display: block;
  cursor: pointer;
}

.cgt {
  text-decoration: none;
}

.dee {
  opacity: 0.5;
  display: flex;
}

.hnx {
  background: var(--tint-grey-background-color);
  font-size: 10px;
  line-height: 16px;
  width: fit-content;
  border-radius: 31px;
  display: flex;
  font-weight: 500;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 2px 6px;
  color: black;
}

[data-rbd-drag-handle-context-id="1"] {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
  cursor: -webkit-grab;
  cursor: grab;
}

.vab {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  opacity: 0.5;
}

.cia {
  display: flex;
}

.jtl {
  border-radius: 8px;
  background-color: var(--tint-background-color);
  color: var(--tint-text-color);
  box-shadow: rgb(187 137 136 / 20%) 0px 0px 48px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  opacity: 1 !important;
}

::before, ::after {
  box-sizing: inherit;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca {
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-top {
  margin-top: -10px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-top::before {
  border-top: 8px solid transparent;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-top::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-top-color: #222;
  border-top-style: solid;
  border-top-width: 6px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-bottom {
  margin-top: 10px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-bottom::before {
  border-bottom: 8px solid transparent;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-bottom::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #222;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-left {
  margin-left: -10px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-left::before {
  border-left: 8px solid transparent;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-left::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 50%;
  margin-top: -4px;
  border-left-color: #222;
  border-left-style: solid;
  border-left-width: 6px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-right {
  margin-left: 10px;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-right::before {
  border-right: 8px solid transparent;
}

.t38a220f0-2956-412d-a996-bd67d93ebcca.place-right::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 50%;
  margin-top: -4px;
  border-right-color: #222;
  border-right-style: solid;
  border-right-width: 6px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3 {
  color: #fff;
  background: #222;
  border: 1px solid transparent;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-top {
  margin-top: -10px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-top::before {
  border-top: 8px solid transparent;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-top::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-top-color: #222;
  border-top-style: solid;
  border-top-width: 6px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-bottom {
  margin-top: 10px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-bottom::before {
  border-bottom: 8px solid transparent;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-bottom::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #222;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-left {
  margin-left: -10px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-left::before {
  border-left: 8px solid transparent;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-left::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 50%;
  margin-top: -4px;
  border-left-color: #222;
  border-left-style: solid;
  border-left-width: 6px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-right {
  margin-left: 10px;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-right::before {
  border-right: 8px solid transparent;
}

.tb5edee97-a8da-4c43-ab22-4be1b55ad6c3.place-right::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 50%;
  margin-top: -4px;
  border-right-color: #222;
  border-right-style: solid;
  border-right-width: 6px;
}

.dpa {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--tint-divider-color);
  padding: 8px 24px;
  background-color: white;
}

.cjs {
  display: flex;
}

.fcm {
  box-sizing: border-box;
  margin-left: 10px;
  display: inline-block;
  padding: 0px 20px;
  height: 44px;
  line-height: 44px;
  width: auto;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  user-select: none;
  outline: none;
  text-transform: capitalize;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: rgb(0, 0, 0);
  background: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
  --tint-button-padding: 20px;
  --tint-button-height: 44px;
  --tint-button-color: #000000;
  --tint-button-bg: #F5F5F5;
}

.kcx {
  background: transparent;
  padding: 0px;
  border: none;
}

.button {
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

.kic {
  display: block;
}

.kim {
  background-color: white;
  border-bottom: 1px solid var(--tint-divider-color);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.cmx {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  font-size: 15px;
  font-weight: 500;
  color: var(--tint-text-color);
  line-height: 20px;
}

.bal {
  vertical-align: middle;
  display: none;
}

.kww {
  margin-left: 10px;
}

.fwb {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px;
  font-size: 15px;
  font-weight: 500;
  color: var(--tint-light-text-color);
  line-height: 20px;
}

.jxx {
  vertical-align: middle;
  display: none;
  color: var(--tint-light-text-color);
}

.qfl {
  margin-left: 10px;
  color: var(--tint-light-text-color);
}

.gtt {
  border: none;
  background: var(--tint-background-color);
  color: rgb(242, 98, 124);
  display: inline-block;
  vertical-align: middle;
  border-radius: 17px;
  padding: 11px 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  right: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;
  transition: width 300ms ease-in-out 0s;
  transform: translateY(-50%);
}

.tfr {
  display: none;
  margin-right: 30px;
  height: 45px;
}

.bnv {
  background: var(--tint-main-background-color);
  padding: 5px 5px 5px 20px;
  border-radius: 25px;
  width: 323px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.Message {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  border: none;
  transition: box-shadow 150ms ease-in-out 0s;
  position: relative;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 15px;
  padding: 2px;
  width: 4rem;
}

.whimg {
  width: 3rem;
  opacity: 80%;
  padding-left: 9px;
  padding-top: 6px;
}
